@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*basic style*/


body{
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button{
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    width: 313px;
    height: 72px;
    padding: 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(209, 209, 209, 0.4);
}

.main, .one, .two, .three, .four, .five, footer{
    max-width: 1140px;
    margin: 0 auto;
} 

/*main style*/

.main-page{
    background-image: url(image/main_bg.jpg);
    height: 800px;
    background-repeat: no-repeat;
}

.logo_img {
    margin: 35px 0 10px 0;
}

.logo_text {
    margin: 0 0 50px 0;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}


.main h2{
    margin: 20px 0;
    color: #F9BF3B;
    text-transform: uppercase;
    font-size: 41px;
    font-weight: 900;
    clear: none;
}


.center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.creative-line{
    width: 292px;
    height: 2px;
    border: #FFFFFF 1px solid;
    align-self: center;
}

.center h2{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    padding: 0 10px;
}

.text-1 {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}

.text-1 strong{
    text-transform: uppercase;
    color: #F9BF3B;
}

.main button{
    margin: 60px 0;
}

.main .down_p {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-style:normal;
    font-size: 15px;
    font-weight: 100;
    color: #FFFFFF;
}


/*section-one style*/
/*section-two style*/
/*section-three style*/
/*section-four style*/


.one {
}
.content-1 {
}
.two {
}
.three {
}
.content-2 {
}
.four {
}
.five {
}
.footer {
}
